UR\Entity\Core\ConnectedDataSource:
    type: entity
    table: core_connected_data_source
    repositoryClass: UR\Repository\Core\ConnectedDataSourceRepository
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:
        mapFields:
            type: json_array
            nullable: true
        filters:
            type: json_array
            nullable: true
        transforms:
            type: json_array
            nullable: true
        requires:
            type: json_array
            nullable: true
        alertSetting:
            type: json_array
            nullable: true
        replayData:
            type: boolean
            option:
                default: false
    manyToOne:
        dataSource:
            targetEntity: UR\Entity\Core\DataSource
        dataSet:
            targetEntity: UR\Entity\Core\DataSet
            inversedBy: connectedDataSources
            joinColumn:
                name: data_set_id
                referencedColumnName: id
                onDelete: CASCADE