UR\Entity\Core\DataSourceEntry:
    type: entity
    table: core_data_source_entry
    repositoryClass: UR\Repository\Core\DataSourceEntryRepository
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:
        isValid:
            type: boolean
            options:
                default: true
        isActive:
            type: boolean
            options:
                default: true
        path:
            type: string
        fileName:
            type: string
        metaData:
            type: json_array
            nullable: true
        receivedDate:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        receivedVia:
            type: string
        hashFile:
            type: string
        totalRow:
            type: integer
            options:
                default: 0
            nullable: false
        fileExtension:
            type: string
            length: 20
        startDate:
            type: date
            nullable: true
        endDate:
            type: date
            nullable: true
        removeHistory:
            type: boolean
            nullable: true
            options:
                default: false
        missingDate:
            type: json_array
            nullable: true
        dateRangeBroken:
            type: boolean
            nullable: true
            options:
                default: false
        dates:
            type: json_array
            nullable: true
    manyToOne:
        dataSource:
            targetEntity: UR\Entity\Core\DataSource
            inversedBy: dataSourceEntries
            joinColumn:
                name: data_source_id
                referencedColumnName: id
    oneToMany:
        importHistories:
            targetEntity: UR\Entity\Core\ImportHistory
            mappedBy: dataSourceEntry
            cascade: ['persist', 'remove', 'detach']
            orphanRemoval: true