UR\Entity\Core\DataSource:
    type: entity
    table: core_data_source
    repositoryClass: UR\Repository\Core\DataSourceRepository
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:
        name:
            type: string
            length: 100
        format:
            type: string
            length: 100
            nullable: true
        alertSetting:
            type: json_array
            nullable: true
        apiKey:
            type: string
            length: 150
            nullable: true
            unique: true
        urEmail:
            type: string
            length: 150
            nullable: true
            unique: true
        enable:
            type: boolean
            options:
                default: true
        detectedFields:
            type: json_array
            nullable: true
        nextAlertTime:
            type: datetime
            nullable: true
        useIntegration:
            type: boolean
            options:
                default: false
        lastActivity:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        numOfFiles:
            type: integer
            options:
                default: 0
            nullable: false
        dateRange:
            type: json_array
            nullable: true
        missingDate:
            type: json_array
            nullable: true
        dateRangeBroken:
            type: boolean
            nullable: true
            options:
                default: false
        dateRangeDetectionEnabled:
            type: boolean
            nullable: true
            options:
                default: false
        dateFields:
            type: json_array
            nullable: true
        dateFormats:
            type: json_array
            nullable: true
        detectedStartDate:
            type: date
            nullable: true
        detectedEndDate:
            type: date
            nullable: true
    manyToOne:
        publisher:
            targetEntity: UR\Bundle\UserSystem\PublisherBundle\Entity\User

    oneToMany:
        dataSourceIntegrations:
            targetEntity: UR\Entity\Core\DataSourceIntegration
            cascade: ['persist', 'detach', 'remove']
            mappedBy: dataSource
            orphanRemoval: true

        dataSourceEntries:
            targetEntity: UR\Entity\Core\DataSourceEntry
            cascade: ['persist', 'detach', 'remove']
            mappedBy: dataSource

        connectedDataSources:
            targetEntity: UR\Entity\Core\ConnectedDataSource
            cascade: ['persist', 'detach', 'remove']
            mappedBy: dataSource

        alerts:
            targetEntity: UR\Entity\Core\Alert
            cascade: ['detach', 'remove']
            mappedBy: dataSource