UR\Entity\Core\DataSet:
    type: entity
    table: core_data_set
    repositoryClass: UR\Repository\Core\DataSetRepository
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:
        name:
            type: string
            length: 100
        dimensions:
            type: json_array
            nullable: true
        metrics:
            type: json_array
            nullable: true
        createdDate:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        allowOverwriteExistingData:
            type: boolean
            options:
                default: false
        lastActivity:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        totalRow:
            type: integer
            options:
                default: 0
            nullable: false
        numChanges:
            type: integer
            options:
                default: 0
            nullable: true
        numConnectedDataSourceChanges:
            type: integer
            options:
                default: 0
            nullable: true
        mapBuilderEnabled:
            type: boolean
            options:
                default: false
    manyToOne:
        publisher:
            targetEntity: UR\Bundle\UserSystem\PublisherBundle\Entity\User

    oneToMany:
        connectedDataSources:
            targetEntity: UR\Entity\Core\ConnectedDataSource
            cascade: ['persist', 'detach', 'remove']
            mappedBy: dataSet
            orphanRemoval: true

        linkedMapDataSets:
            targetEntity: UR\Entity\Core\LinkedMapDataSet
            cascade: ['persist', 'detach', 'remove']
            mappedBy: mapDataSet
            orphanRemoval: true

        mapBuilderConfigs:
            targetEntity: UR\Entity\Core\MapBuilderConfig
            cascade: ['persist', 'detach', 'remove']
            mappedBy: dataSet
            orphanRemoval: true