UR\Entity\Core\Integration:
    type: entity
    table: core_integration
    repositoryClass: UR\Repository\Core\IntegrationRepository
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:
        name:
            type: string
            length: 100
        canonicalName:
            type: string
            length: 100
        params:
            type: json_array
            nullable: true
