UR\Entity\Core\ReportView:
    type: entity
    table: core_report_view
    repositoryClass: UR\Repository\Core\ReportViewRepository
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:
        dataSets:
            type: json_array
            nullable: true
        transforms:
            type: json_array
            nullable: true
        weightedCalculations:
            type: json_array
            nullable: true
        filters:
            type: json_array
            nullable: true
        reportViews:
            type: json_array
            nullable: true
        metrics:
            type: json_array
            nullable: true
        dimensions:
            type: json_array
            nullable: true
        name:
            type: string
            nullable: false
        alias:
            type: string
            nullable: false
        multiView:
            type: boolean
            options:
                default: false
            nullable: false
        fieldTypes:
            type: json_array
            nullable: false
        joinBy:
            type: string
            nullable: true
        createdDate:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        sharedKeysConfig:
            type: json_array
            nullable: true
        showInTotal:
            type: json_array
            nullable: true
        formats:
            type: json_array
            nullable: true
        subReportsIncluded:
            type: boolean
            nullable: false
            options:
                default: false

    manyToOne:
        publisher:
            targetEntity: UR\Bundle\UserSystem\PublisherBundle\Entity\User