UR\Entity\Core\ReportView:
    type: entity
    table: core_report_view
    repositoryClass: UR\Repository\Core\ReportViewRepository
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:
        transforms:
            type: json_array
            nullable: true
        weightedCalculations:
            type: json_array
            nullable: true
        metrics:
            type: json_array
            nullable: true
        dimensions:
            type: json_array
            nullable: true
        name:
            type: string
            nullable: false
        fieldTypes:
            type: json_array
            nullable: false
        joinBy:
            type: json_array
            nullable: true
        createdDate:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        sharedKeysConfig:
            type: json_array
            nullable: true
        showInTotal:
            type: json_array
            nullable: true
        formats:
            type: json_array
            nullable: true
        isShowDataSetName:
            type: boolean
            nullable: false
            options:
                default: false
        lastActivity:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        lastRun:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        enableCustomDimensionMetric:
            type: boolean
            nullable: true
            options:
                default: true

        subView:
            type: boolean
            options:
                default: false
            nullable: false

        filters:
            type: json_array
            nullable: true
        largeReport:
            type: boolean
            options:
                default: false
            nullable: false
        availableToRun:
            type: boolean
            options:
                default: true
            nullable: false
        availableToChange:
            type: boolean
            options:
                default: true
            nullable: false
        preCalculateTable:
            type: string
            length: 30
            nullable: true
        requireJoin:
            type: boolean
            options:
                default: true
            nullable: false
        calculatedMetrics:
            type: json_array
            nullable: true
    manyToOne:
        publisher:
            targetEntity: UR\Bundle\UserSystem\PublisherBundle\Entity\User
        masterReportView:
            targetEntity: UR\Entity\Core\ReportView
    oneToMany:
        reportViewDataSets:
            targetEntity: UR\Entity\Core\ReportViewDataSet
            mappedBy: reportView
            cascade: ['persist', 'remove', 'detach']
            orphanRemoval: true
        subReportViews:
            targetEntity: UR\Entity\Core\ReportView
            mappedBy: masterReportView
            cascade: ['remove', 'detach']
            orphanRemoval: true
