imports:
    #- { resource: services/.yml }

parameters:
    # params

services:
    tagcade_app.event_listener.data_set_change_listener:
        class: UR\Bundle\AppBundle\EventListener\DataSetChangeListener
        arguments:
            - @ur.worker.manager
            - %upload_file_dir%
        tags:
            - { name: doctrine.event_listener, event: onFlush }
            - { name: doctrine.event_listener, event: postFlush }

    tagcade_app.event_listener.connected_data_source_change_listener:
        class: UR\Bundle\AppBundle\EventListener\ConnectedDataSourceChangeListener
        arguments:
            - @ur.worker.manager
            - %upload_file_dir%
        tags:
            - { name: doctrine.event_listener, event: onFlush }
            - { name: doctrine.event_listener, event: postFlush }