imports:
    #- { resource: services/.yml }

parameters:
    # params

services:
    ur_app.event_listener.update_connected_data_source_when_data_set_changed_listener:
        class: UR\Bundle\AppBundle\EventListener\UpdateConnectedDataSourceWhenDataSetChangedListener
        arguments:
            - @ur.worker.manager
        tags:
            - { name: doctrine.event_listener, event: postUpdate }

    ur_app.event_listener.data_source_entry_inserted_listener:
        class: UR\Bundle\AppBundle\EventListener\ReImportWhenDataSourceEntryInsertedListener
        arguments:
            - @ur.worker.manager
        tags:
            - { name: doctrine.event_listener, event: postPersist }
            - { name: doctrine.event_listener, event: postFlush }

    ur_app.event_listener.re_import_when_connected_data_source_changed_listener:
        class: UR\Bundle\AppBundle\EventListener\ReImportWhenConnectedDataSourceChangedListener
        arguments:
            - @ur.worker.manager
        tags:
            - { name: doctrine.event_listener, event: postPersist, priority: -100 }
            - { name: doctrine.event_listener, event: postUpdate, priority: -100 }
            - { name: doctrine.event_listener, event: postFlush, priority: -100 }

    ur_app.event_listener.alter_data_set_listener:
        class: UR\Bundle\AppBundle\EventListener\AlterDataSetListener
        arguments:
            - @ur.worker.manager
        tags:
            - { name: doctrine.event_listener, event: postUpdate }
            - { name: doctrine.event_listener, event: postFlush }

    ur_app.event_listener.update_linked_map_when_connected_data_source_changed_listener:
        class: UR\Bundle\AppBundle\EventListener\UpdateLinkedMapWhenConnectedDataSourceChangedListener
        tags:
            - { name: doctrine.event_listener, event: postUpdate }
            - { name: doctrine.event_listener, event: postPersist }

    ur_app.event_listener.update_detected_fields_for_data_source_entry_listener:
        class: UR\Bundle\AppBundle\EventListener\UpdateDetectedFieldsForDataSourceEntryListener
        arguments:
            - @ur.worker.manager
        tags:
            - { name: doctrine.event_listener, event: postPersist, priority: -100 }
            - { name: doctrine.event_listener, event: postRemove, priority: -100 }
            - { name: doctrine.event_listener, event: postFlush, priority: -100 }

    ur_app.event_listener.update_data_source_entry_total_row_listener:
        class: UR\Bundle\AppBundle\EventListener\UpdateDataSourceEntryTotalRowListener
        arguments:
            - @ur.worker.manager
        tags:
            - { name: doctrine.event_listener, event: postPersist, priority: -100 }
            - { name: doctrine.event_listener, event: postFlush, priority: -100 }

    ur_app.event_listener.update_num_of_files_on_data_source_listener:
        class: UR\Bundle\AppBundle\EventListener\UpdateNumOfFileWhenDataSourceEntryInsertedOrDeletedListener
        tags:
            - { name: doctrine.event_listener, event: postPersist }
            - { name: doctrine.event_listener, event: preRemove }

    ur_app.event_listener.auto_switch_format_for_data_source_listener:
        class: UR\Bundle\AppBundle\EventListener\AutoSwitchFormatForDataSourceListener
        tags:
            - { name: doctrine.event_listener, event: prePersist }
            - { name: doctrine.event_listener, event: postFlush }

    ur_app.event_listener.create_job_delete_data_when_entry_deleted:
        class: UR\Bundle\AppBundle\EventListener\CreateJobsDeleteDataFromImportTableWhenEntryDeleted
        arguments:
            - @ur.worker.manager
        tags:
            - { name: doctrine.event_listener, event: preRemove }
            - { name: doctrine.event_listener, event: postFlush }