UR\Entity\Core\DataSourceIntegrationBackfillHistory:
    exclusion_policy: ALL

    properties:
        id:
            expose: true
            groups: [dataSourceIntegrationBackfillHistory.summary]
        dataSourceIntegration:
            expose: true
            groups: [dataSourceIntegrationBackfillHistory.detail]

        # back fill feature
        lastExecutedAt:
                    expose: true
                    groups: [dataSourceIntegrationBackfillHistory.detail, dataSourceIntegrationBackfillHistory.summary]
                    type: DateTime<'Y-m-d H:i:s'>
        backFillStartDate:
            expose: true
            groups: [dataSourceIntegrationBackfillHistory.detail, dataSourceIntegrationBackfillHistory.summary]
            type: DateTime<'Y-m-d'>
        backFillEndDate:
                    expose: true
                    groups: [dataSourceIntegrationBackfillHistory.detail, dataSourceIntegrationBackfillHistory.summary]
                    type: DateTime<'Y-m-d'>
