UR\Entity\Core\DataSourceIntegrationBackfillHistory:
    exclusion_policy: ALL

    properties:
        id:
            expose: true
            groups: [dataSourceIntegrationBackfillHistory.summary]
        dataSourceIntegration:
            expose: true
            groups: [dataSourceIntegrationBackfillHistory.summary]

        # back fill feature
        executedAt:
            expose: true
            groups: [dataSourceIntegrationBackfillHistory.detail, dataSourceIntegrationBackfillHistory.summary]
        backFillStartDate:
            expose: true
            groups: [dataSourceIntegrationBackfillHistory.detail, dataSourceIntegrationBackfillHistory.summary]
            type: DateTime<'Y-m-d'>
        backFillEndDate:
            expose: true
            groups: [dataSourceIntegrationBackfillHistory.detail, dataSourceIntegrationBackfillHistory.summary]
            type: DateTime<'Y-m-d'>
        pending:
            expose: true
            groups: [dataSourceIntegrationBackfillHistory.detail, dataSourceIntegrationBackfillHistory.summary]