imports:
    - { resource: config.yml }

framework:
    router:
        resource: "%kernel.root_dir%/config/routing_dev.yml"
        strict_requirements: true
    profiler: { only_exceptions: false }

web_profiler:
    toolbar: true
    intercept_redirects: false

monolog:
    handlers:
        main:
            type: fingers_crossed
            handler: nested
            excluded_404s:
                - ^/
        nested:
            type:   stream
            path:   "%kernel.logs_dir%/%kernel.environment%.log"
            level:  debug
        console:
            type: console
            bubble: false
            level: debug
        # uncomment to get logging in your browser
        # you may have to allow bigger header sizes in your Web server configuration
        #firephp:
        #    type: firephp
        #    level: info
        #chromephp:
        #    type: chromephp
        #    level: info

#swiftmailer:
#    delivery_address: me@example.com

# nelmio_api_doc:
    # name: UR API
    # request_listener:
    #     enabled: false
    # sandbox:
    #     enabled: false
    # exclude_sections: ["admin"]