parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     null
    database_name:     unified_reports_api
    database_user:     tagcadedev
    database_password: tagcadedev

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    mailer_port: 1025
    mailer_sender: tagcade.dev@gmail.com
    mailer_sender_name: Tagcade.dev
    password_resetting_link: http://localhost:9010/#/reset/changePassword

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    pheanstalk_primary_host: 127.0.0.1
    
    jwt_private_key_path: %kernel.root_dir%/var/jwt/private.pem   # ssh private key path
    jwt_public_key_path:  %kernel.root_dir%/var/jwt/public.pem    # ssh public key path
    jwt_key_pass_phrase:  'tagcade'                               # ssh key pass phrase
    jwt_token_ttl:        86400
    upload_file_dir: %kernel.root_dir%/../data/file_upload
    log_file_dir: %kernel.root_dir%/../app/logs/import
    shared_report_view_link: http://localhost:9010/#/public/unifiedReport/report/detail?reportView=$$REPORT_VIEW_ID$$&token=$$SHARED_KEY$$
    ur_email_template: 'pub$PUBLISHER_ID$.$TOKEN$@unified-reports.dev'
    ur_batch_size: 2000
    ur_reading_xls_chunk_size: 5000

    ur.events.custom_code_event.post_loaded_data: ur.events.custom_code_event.post_loaded_data
    ur.events.custom_code_event.pre_filter_data: ur.events.custom_code_event.pre_filter_data
    ur.events.custom_code_event.pre_transform_collection_data: ur.events.custom_code_event.pre_transform_collection_data
    ur.events.custom_code_event.pre_transform_column_data: ur.events.custom_code_event.pre_transform_column_data
    ur.events.custom_code_event.post_parse_data: ur.events.custom_code_event.post_parse_data
    ur.command.load_data_to_database.timeout: 3600
    ur.command.alter_data_set_table.timeout: 360
    data_set_job_temp_file_dir: '%kernel.root_dir%/temp/dataset/import'
    ur.worker.delay_time_before_job_become_ready: 5

    max_excel_file_size: 10000000
    ur.dryrun.maxsize: 2000

    ur.redis.app_cache.host: 127.0.0.1
    ur.redis.app_cache.port: 6379 # default

    ur.worker.process_linear_job_name: 'processLinearJob'
    ur.worker.concurrent_tube_name: 'ur-api-worker'
    ur.worker.lock_key_prefix: 'ur:lock_worker_'
    ur.worker.linear_job_priority_key_prefix: 'ur:linear_job_next_priority_tube_'
    ur.worker.pending_job_count_key_prefix: 'ur:pending_job_count_'
    ur.worker.expire_linear_job_prefix: 'ur:linear_tube_expire_job_'
    ur.worker.entry_file_size_threshold: 5242880
    data_source_entry_job_temp_file_dir: '%kernel.root_dir%/temp/data-source-entry'
    number_of_rows_to_export_file: 2000 # int