security:
    access_decision_manager:
        strategy: unanimous

    encoders:
        UR\Bundle\UserBundle\Entity\User: sha512

    role_hierarchy:
        ROLE_PUBLISHER: ROLE_USER
        ROLE_ADMIN:     ROLE_USER

    providers:
        ur_user_publisher:
            id: ur_user_system_publisher.user_provider.username
        ur_user_admin:
            id: ur_user_system_admin.user_provider.username
        ur_user:
            chain:
                providers: [ur_user_publisher, ur_user_admin]
        # fos userbundle user provider
        fos_userbundle:
            id: fos_user.user_manager

    firewalls:
        dev:
            pattern:    ^/(_(profiler|wdt)|css|images|js)/
            security:   false

        apidoc:
            pattern:    ^/docs/?$
            security:   false

        gettoken:
            pattern:    ^/api/v1/getToken$
            stateless:  true
            gfreeau_get_jwt:
                username_parameter: username
                password_parameter: password
                post_only:          true
                success_handler:    ur_user.handler.authentication_success
                failure_handler:    lexik_jwt_authentication.handler.authentication_failure
            provider: ur_user

        resetting:
            pattern: ^/api/v1/resetting/
            stateless: true
            security: false
            anonymous: ~
            provider:  ur_user_publisher

        download:
            pattern: ^/api/v1/datasourceentries/.*/download
            stateless: true
            security: false
            anonymous: ~

        api:
            pattern:    ^/api/
            stateless:  true
            lexik_jwt:
                throw_exceptions:   true
                create_entry_point: false
            provider:  ur_user

    access_control:
        - { path: ^/api/admin/, roles: ROLE_ADMIN }
        - { path: ^/api/, roles: ROLE_USER }