parameters:
    # https://github.com/schmittjoh/JMSSerializerBundle/pull/270
    # not really happy about doing this, but there is no proper config
    # for setting camelcase, so we overwrite the default naming strategy here to match the name
    # of the property in the php class
    jms_serializer.cache_naming_strategy.class: JMS\Serializer\Naming\IdenticalPropertyNamingStrategy

    ur.security.auth.voter.data_source.class: UR\Security\Authorization\Voter\DataSourceVoter
    ur.security.auth.voter.data_source_entry.class: UR\Security\Authorization\Voter\DataSourceEntryVoter
    ur.security.auth.voter.data_source_integration.class: UR\Security\Authorization\Voter\DataSourceIntegrationVoter
    ur.security.auth.voter.alert.class: UR\Security\Authorization\Voter\AlertVoter
    ur.security.auth.voter.user.class: UR\Security\Authorization\Voter\PublisherVoter
    ur.security.auth.voter.data_set.class: UR\Security\Authorization\Voter\DataSetVoter
    ur.security.auth.voter.connected_data_source.class: UR\Security\Authorization\Voter\ConnectedDataSourceVoter
    ur.security.auth.voter.import_history.class: UR\Security\Authorization\Voter\ImportHistoryVoter
    ur.security.auth.voter.report_view.class: UR\Security\Authorization\Voter\ReportViewVoter

    # event dispatched on user action such as add, remove, delete
    ur.events.handler_event: 'ur.events.handler_event'

services:
    ur.security.auth.voter.data_source:
        class:  %ur.security.auth.voter.data_source.class%
        public: false
        tags:
            - { name: security.voter}

    ur.security.auth.voter.data_source_entry:
        class:  %ur.security.auth.voter.data_source_entry.class%
        public: false
        tags:
            - { name: security.voter}

    ur.security.auth.voter.data_source_integration:
        class:  %ur.security.auth.voter.data_source_integration.class%
        public: false
        tags:
            - { name: security.voter}

    ur.security.auth.voter.alert:
        class:  %ur.security.auth.voter.alert.class%
        public: false
        tags:
            - { name: security.voter}

    ur.security.auth.voter.user:
        class:  %ur.security.auth.voter.user.class%
        public: false
        tags:
            - { name: security.voter }

    ur.security.auth.voter.data_set:
        class:  %ur.security.auth.voter.data_set.class%
        public: false
        tags:
            - { name: security.voter }

    ur.security.auth.voter.connected_data_source:
        class:  %ur.security.auth.voter.connected_data_source.class%
        public: false
        tags:
            - { name: security.voter }

    ur.security.auth.voter.import_history:
        class:  %ur.security.auth.voter.import_history.class%
        public: false
        tags:
            - { name: security.voter }

    ur.security.auth.voter.report_view:
        class:  %ur.security.auth.voter.report_view.class%
        public: false
        tags:
            - { name: security.voter }

    ur.service.console_output:
        class: Symfony\Component\Console\Output\ConsoleOutput

    ur.handler.handler_abstract:
        class: UR\Handler\HandlerAbstract
        abstract: true
        public: false
        calls:
            - [setEventDispatcher, ["@event_dispatcher"]]
            - [setEvent, [%ur.events.handler_event%]]

    ur.service.date_util:
        class: UR\Service\DateUtil

    ur.service.array_util:
        class: UR\Service\ArrayUtil

    ur.service.synchronize_user_service:
        class: UR\Service\SynchronizeUser\SynchronizeUserService
        arguments:
            - @doctrine.orm.entity_manager
            - @ur_user.domain_manager.publisher

    monolog.formatter.session_request:
        class: Monolog\Formatter\LineFormatter
        arguments:
            - "[%%datetime%%] [%%extra.user%%] %%channel%%.%%level_name%%: %%message%% %%context%% %%extra%%\n"

    monolog.processor.web:
        class: Monolog\Processor\WebProcessor
        tags:
            - { name: monolog.processor }

    monolog.processor.session_request:
        class: UR\Bundle\ApiBundle\Service\SessionRequestProcessor
        arguments:
            - @security.token_storage
        tags:
            - { name: monolog.processor, method: processRecord }

    ur.worker.manager:
        class: UR\Worker\Manager
        arguments:
            - @ur.service.date_util
            - @leezy.pheanstalk

    ur.worker.workers.auto_import_data:
        class: UR\Service\Import\AutoImportData
        arguments:
            - @ur.service.parsing_file_service
            - @ur.service.data_set.importer

    ur.worker.workers.re_import_new_entry_received:
        class: UR\Worker\Workers\LoadingDataFromFileToDataImportTable
        arguments:
            - @ur.service.command
            - @logger
            - @ur.domain_manager.data_source_entry
            - @ur.domain_manager.connected_data_source
            - @leezy.pheanstalk
            - @ur.domain_manager.import_history
            - @ur.domain_manager.data_set_import_job
            - %ur.command.load_data_to_database.timeout%
            - %ur.worker.delay_time_before_job_become_ready%

    ur.worker.workers.alter_import_data_table:
        class: UR\Worker\Workers\AlterImportDataTable
        arguments:
            - @ur.service.command
            - @leezy.pheanstalk
            - @logger
            - @ur.domain_manager.data_set_import_job
            - %ur.command.alter_data_set_table.timeout%
            - %ur.worker.delay_time_before_job_become_ready%

    ur.worker.workers.truncate_import_data_table:
        class: UR\Worker\Workers\TruncateImportDataTable
        arguments:
            - @ur.domain_manager.data_set
            - @doctrine.orm.entity_manager
            - @leezy.pheanstalk
            - @logger
            - %ur.worker.delay_time_before_job_become_ready%
            - @ur.domain_manager.data_set_import_job

    ur.service.alert.process_alert:
        class: UR\Service\Alert\ProcessAlert
        arguments:
            - @ur.domain_manager.alert
            - @ur_user.domain_manager.publisher

    ur.worker.workers.alert_worker:
        class: UR\Worker\Workers\AlertWorker
        arguments:
            - @ur.service.alert.process_alert

    ur.worker.workers.synchronize_user_worker:
        class: UR\Worker\Workers\SynchronizeUserWorker
        arguments:
            - @ur.service.synchronize_user_service

    ur.service.datasource.regenerate_email:
        class: UR\Bundle\ApiBundle\Service\DataSource\RegenerateUrEmail
        arguments:
            - @ur.domain_manager.data_source
            - %ur_email_template%

    ur.service.datasource.regenerate_api_key:
        class: UR\Bundle\ApiBundle\Service\DataSource\RegenerateUrApiKey
        arguments:
            - @ur.domain_manager.data_source

    ur.service.import.do_log:
        class: UR\Service\Import\ImportDataLogger
        arguments:
            - @monolog.logger

    ur.service.parser:
        class: UR\Service\Parser\Parser
        arguments:
            - @event_dispatcher
            - @doctrine.orm.entity_manager

    ur.service.import:
        class: UR\Service\Import\ImportService
        arguments:
            - %upload_file_dir%
            - %kernel.root_dir%
            - @ur.service.file_factory

    ur.service.parsing_file_service:
        class: UR\Service\Parser\ParsingFileService
        arguments:
            - %upload_file_dir%
            - @ur.service.parser
            - @ur.service.file_factory

    ur.service.data_set.importer:
        class: UR\Service\DataSet\ParsedDataImporter
        arguments:
            - @doctrine.orm.entity_manager
            - %ur_batch_size%

    ur.service.file_factory:
        class: UR\Service\DataSource\DataSourceFileFactory
        arguments:
            - @phpexcel
            - %ur_reading_xls_chunk_size%

    ur.service.loading_data_service:
        class: UR\Service\Import\LoadingDataService
        arguments:
            - @ur.worker.manager
            - @ur.domain_manager.data_set_import_job
            - @ur.repository.import_history
            - @ur.repository.linked_map_data_set

    ur.service.command:
        class: UR\Service\Command\CommandService
        arguments:
            - '%kernel.root_dir%'
            - '%kernel.environment%'
            - '%kernel.debug%'
            - %log_file_dir%
            - %data_set_job_temp_file_dir%
