parameters:
    # https://github.com/schmittjoh/JMSSerializerBundle/pull/270
    # not really happy about doing this, but there is no proper config
    # for setting camelcase, so we overwrite the default naming strategy here to match the name
    # of the property in the php class
    jms_serializer.cache_naming_strategy.class: JMS\Serializer\Naming\IdenticalPropertyNamingStrategy

    ur.security.auth.voter.data_source.class: UR\Security\Authorization\Voter\DataSourceVoter
    ur.security.auth.voter.data_source_entry.class: UR\Security\Authorization\Voter\DataSourceEntryVoter
    ur.security.auth.voter.data_source_integration.class: UR\Security\Authorization\Voter\DataSourceIntegrationVoter
    ur.security.auth.voter.alert.class: UR\Security\Authorization\Voter\AlertVoter
    ur.security.auth.voter.user.class: UR\Security\Authorization\Voter\PublisherVoter
    ur.security.auth.voter.data_set.class: UR\Security\Authorization\Voter\DataSetVoter
    ur.security.auth.voter.connected_data_source.class: UR\Security\Authorization\Voter\ConnectedDataSourceVoter
    ur.security.auth.voter.import_history.class: UR\Security\Authorization\Voter\ImportHistoryVoter
    ur.security.auth.voter.report_view.class: UR\Security\Authorization\Voter\ReportViewVoter

    # event dispatched on user action such as add, remove, delete
    ur.events.handler_event: 'ur.events.handler_event'

services:
    ur.security.auth.voter.data_source:
        class:  %ur.security.auth.voter.data_source.class%
        public: false
        tags:
            - { name: security.voter}

    ur.security.auth.voter.data_source_entry:
        class:  %ur.security.auth.voter.data_source_entry.class%
        public: false
        tags:
            - { name: security.voter}

    ur.security.auth.voter.data_source_integration:
        class:  %ur.security.auth.voter.data_source_integration.class%
        public: false
        tags:
            - { name: security.voter}

    ur.security.auth.voter.alert:
        class:  %ur.security.auth.voter.alert.class%
        public: false
        tags:
            - { name: security.voter}

    ur.security.auth.voter.user:
        class:  %ur.security.auth.voter.user.class%
        public: false
        tags:
            - { name: security.voter }

    ur.security.auth.voter.data_set:
        class:  %ur.security.auth.voter.data_set.class%
        public: false
        tags:
            - { name: security.voter }

    ur.security.auth.voter.connected_data_source:
        class:  %ur.security.auth.voter.connected_data_source.class%
        public: false
        tags:
            - { name: security.voter }

    ur.security.auth.voter.import_history:
        class:  %ur.security.auth.voter.import_history.class%
        public: false
        tags:
            - { name: security.voter }

    ur.security.auth.voter.report_view:
        class:  %ur.security.auth.voter.report_view.class%
        public: false
        tags:
            - { name: security.voter }

    ur.service.console_output:
        class: Symfony\Component\Console\Output\ConsoleOutput

    ur.handler.handler_abstract:
        class: UR\Handler\HandlerAbstract
        abstract: true
        public: false
        calls:
            - [setEventDispatcher, ["@event_dispatcher"]]
            - [setEvent, [%ur.events.handler_event%]]

    ur.service.date_util:
        class: UR\Service\DateUtil

    ur.service.array_util:
        class: UR\Service\ArrayUtil

    ur.service.synchronize_user_service:
        class: UR\Service\SynchronizeUser\SynchronizeUserService
        arguments:
            - @doctrine.orm.entity_manager
            - @ur_user.domain_manager.publisher

    monolog.formatter.session_request:
        class: Monolog\Formatter\LineFormatter
        arguments:
            - "[%%datetime%%] [%%extra.user%%] %%channel%%.%%level_name%%: %%message%% %%context%% %%extra%%\n"

    monolog.processor.web:
        class: Monolog\Processor\WebProcessor
        tags:
            - { name: monolog.processor }

    monolog.processor.session_request:
        class: UR\Bundle\ApiBundle\Service\SessionRequestProcessor
        arguments:
            - @security.token_storage
        tags:
            - { name: monolog.processor, method: processRecord }

    # new worker design ----------------------------------------------------------------------------------

    ur.redis.app_cache:
        class: Redis
        calls:
            - [connect, ["%ur.redis.app_cache.host%","%ur.redis.app_cache.port%"]]

    ur.worker.scheduler.concurrent_job_scheduler:
        class: Pubvantage\Worker\Scheduler\ConcurrentJobScheduler
        arguments:
            - @leezy.pheanstalk
            - "%ur.worker.concurrent_tube_name%"

    ur.worker.scheduler.linear_job_scheduler:
        class: Pubvantage\Worker\Scheduler\LinearJobScheduler
        arguments:
            - @leezy.pheanstalk
            - @ur.redis.app_cache
            - @ur.worker.scheduler.concurrent_job_scheduler
            - "%ur.worker.process_linear_job_name%"
            - "%ur.worker.linear_job_priority_key_prefix%"
            - @ur.pubvantage.worker.job_expirer

    ur.pubvantage.worker.job_counter:
        class: Pubvantage\Worker\JobCounter
        arguments:
            - @ur.redis.app_cache
            - "%ur.worker.pending_job_count_key_prefix%"

    ur.pubvantage.worker.job_expirer:
        class: Pubvantage\Worker\JobExpirer
        arguments:
            - @ur.redis.app_cache
            - "%ur.worker.expire_linear_job_prefix%"

    ur.worker.scheduler.data_set_job_scheduler:
        class: Pubvantage\Worker\Scheduler\DataSetJobScheduler
        arguments:
            - @ur.worker.scheduler.linear_job_scheduler
            - @ur.pubvantage.worker.job_counter

    ur.worker.manager:
        class: UR\Worker\Manager
        arguments:
            - @ur.service.date_util
            - @ur.redis.app_cache
            - @leezy.pheanstalk
            - @ur.worker.scheduler.concurrent_job_scheduler
            - @ur.worker.scheduler.linear_job_scheduler
            - @ur.worker.scheduler.data_set_job_scheduler

    ### linear worker pool

    ur.worker.job.linear.reload_data_set:
        class: UR\Worker\Job\Linear\ReloadDataSet
        arguments:
            - @ur.worker.scheduler.data_set_job_scheduler
            - @monolog.logger
            - @ur.domain_manager.data_set
            - @ur.repository.connected_data_source

    ur.worker.job.linear.reload_connected_data_source:
        class: UR\Worker\Job\Linear\ReloadConnectedDataSource
        arguments:
            - @ur.worker.scheduler.data_set_job_scheduler
            - @monolog.logger
            - @ur.domain_manager.connected_data_source

    ur.worker.job.linear.remove_all_data_from_connected_data_source:
        class: UR\Worker\Job\Linear\RemoveAllDataFromConnectedDataSource
        arguments:
            - @ur.worker.scheduler.data_set_job_scheduler
            - @monolog.logger

    ur.worker.job.linear.remove_data_from_connected_data_source_sub_job:
        class: UR\Worker\Job\Linear\RemoveDataFromConnectedDataSourceSubJob
        arguments:
            - @monolog.logger
            - @doctrine.orm.entity_manager

    ur.worker.job.linear.load_files_into_data_set:
        class: UR\Worker\Job\Linear\LoadFilesIntoDataSet
        arguments:
            - @ur.worker.scheduler.data_set_job_scheduler
            - @monolog.logger

    ur.worker.job.linear.load_file_into_data_set_sub_job:
        class: UR\Worker\Job\Linear\LoadFileIntoDataSetSubJob
        arguments:
            - @monolog.logger
            - @ur.domain_manager.data_source_entry
            - @ur.domain_manager.connected_data_source
            - @ur.domain_manager.import_history
            - @ur.service.import_history_service
            - @ur.service.auto_import_data
            - @ur.worker.manager
            - @ur.service.import.do_log
            - @doctrine.orm.entity_manager

    ur.worker.job.linear.undo_import_histories:
        class: UR\Worker\Job\Linear\UndoImportHistories
        arguments:
            - @ur.worker.scheduler.data_set_job_scheduler
            - @monolog.logger

    ur.worker.job.linear.undo_import_history_sub_job:
        class: UR\Worker\Job\Linear\UndoImportHistorySubJob
        arguments:
            - @monolog.logger
            - @ur.service.import_history_service
            - @doctrine.orm.entity_manager

    ur.worker.job.linear.remove_all_data_from_data_set:
        class: UR\Worker\Job\Linear\RemoveAllDataFromDataSet
        arguments:
            - @ur.worker.scheduler.data_set_job_scheduler
            - @monolog.logger
            - @ur.domain_manager.data_set

    ur.worker.job.linear.truncate_data_set_sub_job:
        class: UR\Worker\Job\Linear\TruncateDataSetSubJob
        arguments:
            - @monolog.logger
            - @ur.domain_manager.data_set
            - @doctrine.orm.entity_manager
            - @ur.domain_manager.import_history

    ur.worker.job.linear.alter_data_set_sub_job:
        class: UR\Worker\Job\Linear\AlterDataSetTableSubJob
        arguments:
            - @monolog.logger
            - @ur.domain_manager.data_set
            - @doctrine.orm.entity_manager

    ur.worker.job.linear.update_overwrite_date_in_data_set_sub_job:
        class: UR\Worker\Job\Linear\UpdateOverwriteDateInDataSetSubJob
        arguments:
            - @monolog.logger
            - @doctrine.orm.entity_manager
            - @ur.domain_manager.data_set

    ur.worker.job.linear.update_connected_data_source_total_row_sub_job:
        class: UR\Worker\Job\Linear\UpdateConnectedDataSourceTotalRowSubJob
        arguments:
            - @monolog.logger
            - @ur.service.data_set.update_total_row
            - @ur.domain_manager.connected_data_source

    ur.worker.job.linear.update_all_connected_data_sources_total_row_for_data_set_sub_job:
        class: UR\Worker\Job\Linear\UpdateAllConnectedDataSourcesTotalRowForDataSetSubJob
        arguments:
            - @monolog.logger
            - @ur.service.data_set.update_total_row

    ur.worker.job.linear.update_data_set_total_row_sub_job:
        class: UR\Worker\Job\Linear\UpdateDataSetTotalRowSubJob
        arguments:
            - @monolog.logger
            - @ur.service.data_set.update_total_row

    ur.worker.job.linear.worker_pool:
        class: Pubvantage\Worker\JobWorkerPool
        arguments:
            -
                - @ur.worker.job.linear.reload_data_set
                - @ur.worker.job.linear.reload_connected_data_source
                - @ur.worker.job.linear.remove_all_data_from_connected_data_source
                - @ur.worker.job.linear.remove_data_from_connected_data_source_sub_job
                - @ur.worker.job.linear.load_files_into_data_set
                - @ur.worker.job.linear.load_file_into_data_set_sub_job
                - @ur.worker.job.linear.undo_import_histories
                - @ur.worker.job.linear.undo_import_history_sub_job
                - @ur.worker.job.linear.remove_all_data_from_data_set
                - @ur.worker.job.linear.truncate_data_set_sub_job
                - @ur.worker.job.linear.alter_data_set_sub_job
                - @ur.worker.job.linear.update_overwrite_date_in_data_set_sub_job
                - @ur.worker.job.linear.update_connected_data_source_total_row_sub_job
                - @ur.worker.job.linear.update_all_connected_data_sources_total_row_for_data_set_sub_job
                - @ur.worker.job.linear.update_data_set_total_row_sub_job
    ### end of linear worker pool

    ### concurrence worker pool
    ur.worker.job.concurrent.process_linear_job:
        class: UR\Worker\Job\Concurrent\ProcessLinearJob
        arguments:
            - @ur.worker.job.linear.worker_pool
            - @ur.pubvantage.worker.job_counter
            - @ur.pubvantage.worker.job_expirer
            - @doctrine.orm.entity_manager
            - @monolog.logger


    ur.worker.job.concurrent.process_alert:
        class: UR\Worker\Job\Concurrent\ProcessAlert
        arguments:
            - @monolog.logger
            - @ur.service.alert.process_alert
            - @doctrine.orm.entity_manager

    ur.worker.job.concurrent.synchronize_user:
        class: UR\Worker\Job\Concurrent\SynchronizeUser
        arguments:
            - @ur.service.synchronize_user_service

    ur.worker.job.concurrent.update_detected_fields_when_entry_inserted:
        class: UR\Worker\Job\Concurrent\UpdateDetectedFieldsWhenEntryInserted
        arguments:
            - @monolog.logger
            - @ur.domain_manager.data_source
            - @ur.domain_manager.data_source_entry
            - @ur.service.import
            - "%upload_file_dir%"

    ur.worker.job.concurrent.update_total_row_when_entry_inserted:
        class: UR\Worker\Job\Concurrent\UpdateTotalRowWhenEntryInserted
        arguments:
            - @monolog.logger
            - @ur.domain_manager.data_source
            - @ur.domain_manager.data_source_entry
            - @ur.service.import
            - "%upload_file_dir%"
            - @doctrine.orm.entity_manager

    ur.worker.job.concurrent.update_detected_fields_when_entry_deleted:
        class: UR\Worker\Job\Concurrent\UpdateDetectedFieldsWhenEntryDeleted
        arguments:
            - @monolog.logger
            - @ur.domain_manager.data_source
            - @ur.service.import
            - "%upload_file_dir%"
            - @doctrine.orm.entity_manager

    ur.worker.job.concurrent.fix_csv_line_feed:
        class: UR\Worker\Job\Concurrent\FixCSVLineFeed
        arguments:
            - @monolog.logger

    ur.worker.job.concurrent.worker_pool:
        class: Pubvantage\Worker\JobWorkerPool
        arguments:
            -
                - @ur.worker.job.concurrent.process_linear_job
                - @ur.worker.job.concurrent.process_alert
                - @ur.worker.job.concurrent.synchronize_user
                - @ur.worker.job.concurrent.update_detected_fields_when_entry_inserted
                - @ur.worker.job.concurrent.update_total_row_when_entry_inserted
                - @ur.worker.job.concurrent.update_detected_fields_when_entry_deleted
                - @ur.worker.job.concurrent.fix_csv_line_feed
    ### end of concurrence worker pool

    # end of new worker design ---------------------------------------------------------------------------

    ur.service.alert.process_alert:
        class: UR\Service\Alert\ProcessAlert
        arguments:
            - @ur.domain_manager.alert
            - @ur_user.domain_manager.publisher
            - @ur.domain_manager.data_source

    ur.service.datasource.regenerate_email:
        class: UR\Bundle\ApiBundle\Service\DataSource\RegenerateUrEmail
        arguments:
            - @ur.domain_manager.data_source
            - %ur_email_template%

    ur.service.datasource.regenerate_api_key:
        class: UR\Bundle\ApiBundle\Service\DataSource\RegenerateUrApiKey
        arguments:
            - @ur.domain_manager.data_source

    ur.service.data_source.upload_file_service:
        class: UR\Bundle\ApiBundle\Service\DataSource\UploadFileService
        arguments:
            - @ur.domain_manager.data_source
            - @ur.domain_manager.data_source_entry
            - @ur.service.import
            - @ur.worker.manager

    ur.service.import.do_log:
        class: UR\Service\Import\ImportDataLogger
        arguments:
            - @monolog.logger

    ur.service.parser:
        class: UR\Service\Parser\Parser
        arguments:
            - @event_dispatcher
            - @doctrine.orm.entity_manager

    ur.service.import:
        class: UR\Service\Import\ImportService
        arguments:
            - %upload_file_dir%
            - %kernel.root_dir%
            - @ur.service.file_factory

    ur.service.import_history_service:
            class: UR\Service\Import\ImportHistoryService
            arguments:
                - @doctrine.orm.entity_manager

    ur.service.parsing_file_service:
        class: UR\Service\Parser\ParsingFileService
        arguments:
            - @ur.service.parser
            - @ur.service.file_factory

    ur.service.data_set.importer:
        class: UR\Service\DataSet\ParsedDataImporter
        arguments:
            - @doctrine.orm.entity_manager
            - %ur_batch_size%

    ur.service.data_set.update_total_row:
        class: UR\Service\DataSet\UpdateDataSetTotalRowService
        arguments:
            - @monolog.logger
            - @doctrine.orm.entity_manager
            - @ur.domain_manager.data_set
            - @ur.domain_manager.connected_data_source

    ur.service.file_factory:
        class: UR\Service\DataSource\DataSourceFileFactory
        arguments:
            - @phpexcel
            - %ur_reading_xls_chunk_size%
            - %upload_file_dir%

    ur.service.data_source_entry_preview_service:
        class: UR\Service\DataSource\DataSourceEntryPreviewService
        arguments:
            - '@ur.service.file_factory'
            - '%max_excel_file_size%'

    ur.service.auto_import_data:
        class: UR\Service\Import\AutoImportData
        arguments:
            - @ur.service.parsing_file_service
            - @ur.service.data_set.importer
            - @monolog.logger

    ur.service.command:
        class: UR\Service\Command\CommandService
        arguments:
            - '%kernel.root_dir%'
            - '%kernel.environment%'
            - '%kernel.debug%'
            - %log_file_dir%
            - %data_set_job_temp_file_dir%

    ur.service.date_time.date_time_util:
        class: UR\Service\DateTime\DateTimeUtil