imports:
    - { resource: services/listeners.yml }
    - { resource: services/service.datasource.yml }
    - { resource: services/service.data-source-entry.yml }
    - { resource: services/service.data-source-integration.yml }
    - { resource: services/service.integrationgroup.yml }
    - { resource: services/service.integration.yml }
    - { resource: services/service.alert.yml}
    - { resource: services/service.dataset.yml }
    - { resource: services/service.connected-data-source.yml }


parameters:
    # jwt
    ur_api.service.jwt_response_transformer.class: UR\Bundle\ApiBundle\Service\JWTResponseTransformer
    ur.event.authentication_success_listener.class: UR\Bundle\ApiBundle\EventListener\AuthenticationSuccessListener
    ur.event.jwt_created_listener.class: UR\Bundle\ApiBundle\EventListener\JWTCreatedListener

services:
    # handlers
    ur.handler.role_handler_abstract:
        class: UR\Handler\RoleHandlerAbstract
        abstract: true
        public: false
        parent : ur.handler.handler_abstract
        arguments:
            - @form.factory

    # authentication
    ur_api.service.jwt_response_transformer:
        class: %ur_api.service.jwt_response_transformer.class%

    ur.event.authentication_success_listener:
        class: %ur.event.authentication_success_listener.class%
        arguments: [@ur_api.service.jwt_response_transformer, @fos_user.user_manager]
        tags:
            -
               name: kernel.event_listener
               event: 'lexik_jwt_authentication.on_authentication_success'
               method: 'onAuthenticationSuccess'
               priority: 10

    ur.event.jwt_created_listener:
        class: %ur.event.jwt_created_listener.class%
        tags:
            -
                name: kernel.event_listener
                event: 'lexik_jwt_authentication.on_jwt_created'
                method: 'onJWTCreated'

    ur_api.mailer.mailer:
        class: UR\Bundle\ApiBundle\Mailer\Mailer
        arguments:
            - '@mailer'
            - '@router'
            - '@templating'
            -
                resetting.template: URApiBundle:Resetting:email.txt.twig
                from_email:
                    resetting: %ur_user_system_publisher.resetting.email.from_email%
                password_resetting_link: %password_resetting_link%
