Tagcade\Entity\Core\DataSource:
    type: entity
    table: core_data_source
    repositoryClass: Tagcade\Repository\Core\DataSourceRepository
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:
        name:
            type: string
            length: 100
        format:
            type: string
            length: 100
    manyToOne:
        publisher:
            targetEntity: Tagcade\Bundle\UserSystem\PublisherBundle\Entity\User
