services:
    # main public services

    ur_admin_api.handler.user:
        class: UR\Bundle\AdminApiBundle\Handler\UserHandler
        parent: ur.handler.handler_abstract
        public: true
        arguments:
            - @form.factory
            - @ur_admin_api.form.type.user
            - @ur_user.domain_manager.publisher

    # forms

    ur_admin_api.form.type.user:
        class: UR\Bundle\AdminApiBundle\Form\Type\UserFormType
        arguments:
            - @=service('security.context').getToken().getUser()
        tags:
            - { name: form.type, alias: ur_form_admin_api_user }

    ur_admin_api.event_listener.set_publisher_uuid_listener:
        class: UR\Bundle\AdminApiBundle\EventListener\SetPublisherUuidListener
        tags:
            - { name: doctrine.event_listener, event: prePersist}
