services:
    ur_api.event_listener.update_metrics_and_dimensions_for_report_view_listener:
        class: UR\Bundle\ApiBundle\EventListener\UpdateMetricsAndDimensionsForReportViewListener
        arguments:
            - '@ur.services.report.params_builder'
        tags:
            - { name: doctrine.event_listener, event: prePersist }
            - { name: doctrine.event_listener, event: preUpdate }

    ur_api.event_listener.report_view_data_set_change_listener:
        class: UR\Bundle\ApiBundle\EventListener\ReportViewDataSetChangeListener
        arguments:
            - '@ur.services.report.params_builder'
        tags:
            - { name: doctrine.event_listener, event: prePersist }
            - { name: doctrine.event_listener, event: preUpdate }
            - { name: doctrine.event_listener, event: postFlush }

    ur_api.event_listener.report_view_multi_view_change_listener:
        class: UR\Bundle\ApiBundle\EventListener\ReportViewMultiViewChangeListener
        arguments:
            - '@ur.services.report.params_builder'
        tags:
            - { name: doctrine.event_listener, event: prePersist }
            - { name: doctrine.event_listener, event: preUpdate }
            - { name: doctrine.event_listener, event: postFlush }

    ur_api.event_listener.update_metrics_and_dimensions_for_multiple_view_report_listener:
        class: UR\Bundle\ApiBundle\EventListener\UpdateMetricsAndDimensionsForMultipleViewReportListener
        arguments:
            - '@ur.services.report.params_builder'
        tags:
            - { name: doctrine.event_listener, event: preUpdate }
            - { name: doctrine.event_listener, event: postFlush }

    ur_api.event_listener.update_filters_for_multiple_view_report_listener:
        class: UR\Bundle\ApiBundle\EventListener\UpdateFiltersForMultipleViewReportListener
        arguments:
            - '@ur.services.report.params_builder'
        tags:
            - { name: doctrine.event_listener, event: preUpdate }
            - { name: doctrine.event_listener, event: postFlush }

    ur_api.event_listener.update_transformations_for_multiple_view_report_listener:
        class: UR\Bundle\ApiBundle\EventListener\UpdateTransformationsForMultipleViewReportListener
        arguments:
            - '@ur.services.report.params_builder'
        tags:
            - { name: doctrine.event_listener, event: preUpdate }
            - { name: doctrine.event_listener, event: postFlush }

    ur_api.event_listener.data_set_change_listener:
        class: UR\Bundle\ApiBundle\EventListener\DataSetChangeListener
        tags:
            - { name: doctrine.event_listener, event: preUpdate }
            - { name: doctrine.event_listener, event: postFlush }

    ur_api.event_listener.update_format_outputs_for_multiple_view_report_listener:
        class: UR\Bundle\ApiBundle\EventListener\UpdateFormatOutputsForMultipleViewReportListener
        arguments:
            - '@ur.services.report.params_builder'
        tags:
            - { name: doctrine.event_listener, event: preUpdate }
            - { name: doctrine.event_listener, event: postFlush }

    ur_api.event_listener.update_next_alert_time_for_data_source_listener:
        class: UR\Bundle\ApiBundle\EventListener\UpdateNextAlertTimeForDataSourceListener
        arguments:
        tags:
            - { name: doctrine.event_listener, event: prePersist }
            - { name: doctrine.event_listener, event: preUpdate }

    ur_api.event_listener.update_secure_params_for_data_source_integration_listener:
        class: UR\Bundle\ApiBundle\EventListener\UpdateSecureParamsForDataSourceIntegrationListener
        tags:
            - { name: doctrine.event_listener, event: prePersist }
            - { name: doctrine.event_listener, event: preUpdate }

    ur_api.event_listener.update_next_execute_at_for_data_source_integration_schedule_listener:
        class: UR\Bundle\ApiBundle\EventListener\UpdateDataSourceIntegrationScheduleListener
        tags:
            - { name: doctrine.event_listener, event: prePersist }
            - { name: doctrine.event_listener, event: preUpdate }
            - { name: doctrine.event_listener, event: postFlush }

    ur_api.event_listener.update_back_fill_executed_for_data_source_integration_listener:
        class: UR\Bundle\ApiBundle\EventListener\UpdateBackFillExecutedForDataSourceIntegrationListener
        tags:
            - { name: doctrine.event_listener, event: preUpdate }
            - { name: doctrine.event_listener, event: postFlush }

    ur_api.event_listener.create_data_import_table_when_create_new_data_set_listener:
        class: UR\Bundle\ApiBundle\EventListener\CreateDataImportTableWhenCreateNewDataSetListener
        tags:
            - { name: doctrine.event_listener, event: postPersist }