services:
    ur.services.report.params_builder:
        class: UR\Service\Report\ParamsBuilder

    ur.services.report.report_builder:
        class: UR\Service\Report\ReportBuilder
        arguments:
            - '@ur.services.report.report_selector'
            - '@ur.services.report.report_grouper'
            - '@ur.services.report.report_sorter'

    ur.services.report.sql_builder:
        class: UR\Service\Report\SqlBuilder
        arguments:
            - '@doctrine.orm.entity_manager'

    ur.services.report.report_grouper:
        class: UR\Service\Report\ReportGrouper

    ur.services.report.report_sorter:
        class: UR\Service\Report\ReportSorter

    ur.services.report.report_selector:
        class: UR\Service\Report\ReportSelector
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@ur.services.report.sql_builder'


