parameters:
    # entity class
    ur.entity.core.data_source_integration_backfill_history.class: UR\Entity\Core\DataSourceIntegrationBackfillHistory
    # form class
    ur.form.type.data_source_integration_backfill_history.class: UR\Form\Type\DataSourceIntegrationBackfillHistoryFormType

services:
    ur_api.handler.data_source_integration_backfill_history:
        class: UR\Handler\HandlerInterface
        factory:
            - '@ur.handler.handler_manager.data_source_integration_backfill_history'
            - 'getHandler'
        arguments:
            - '@ur.user_role'

    ur.repository.data_source_integration_backfill_history:
        class: UR\Repository\Core\DataSourceIntegrationBackfillHistoryRepositoryInterface
        factory:
            - '@doctrine.orm.entity_manager'
            - 'getRepository'
        arguments:
            - '%ur.entity.core.data_source_integration_backfill_history.class%'

    ur.domain_manager.data_source_integration_backfill_history:
        class: UR\DomainManager\DataSourceIntegrationBackfillHistoryManager
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@ur.repository.data_source_integration_backfill_history'

    ur.form.type.data_source_integration_backfill_history:
        class: '%ur.form.type.data_source_integration_backfill_history.class%'
        tags:
            - { name: form.type, alias: ur_form_data_source_integration_backfill_history }

    ur.handler.handlers.data_source_integration_backfill_history.abstract:
        class: UR\Handler\Handlers\Core\DataSourceIntegrationBackfillHistoryHandlerAbstract
        parent: ur.handler.role_handler_abstract
        abstract: true
        public: false
        arguments:
            - '@ur.form.type.data_source_integration_backfill_history'
            - '@ur.domain_manager.data_source_integration_backfill_history'

    ur.handler.handlers.data_source_integration_backfill_history.admin:
        class: UR\Handler\Handlers\Core\Admin\DataSourceIntegrationBackfillHistoryHandler
        parent: ur.handler.handlers.data_source_integration_backfill_history.abstract
        public: false
        arguments:
            - '@ur_user.domain_manager.publisher'

    ur.handler.handlers.data_source_integration_backfill_history.publisher:
        class: UR\Handler\Handlers\Core\Publisher\DataSourceIntegrationBackfillHistoryHandler
        parent: ur.handler.handlers.data_source_integration_backfill_history.abstract
        public: false

    ur.handler.handler_manager.data_source_integration_backfill_history:
        class: UR\Handler\HandlerManager
        arguments:
            - '%ur.entity.core.data_source_integration_backfill_history.class%'
            -
                - '@ur.handler.handlers.data_source_integration_backfill_history.admin'
                - '@ur.handler.handlers.data_source_integration_backfill_history.publisher'
