parameters:
    # entity class
    ur.entity.core.report_view_data_set.class: UR\Entity\Core\ReportViewDataSet

    # form class
    ur.form.type.core.report_view_data_set.class: UR\Form\Type\ReportViewDataSetFormType

services:
    # report view dataset
    ur.repository.report_view_data_set:
        class: UR\Repository\Core\ReportViewDataSetRepositoryInterface
        factory_service: doctrine.orm.entity_manager
        factory_method: getRepository
        arguments:
            - %ur.entity.core.report_view_data_set.class%

    ur.form.type.report_view_data_set:
        class: %ur.form.type.core.report_view_data_set.class%
        tags:
            - { name: form.type, alias: ur_form_report_view_data_set }
