parameters:
    # entity class
    ur.entity.core.data_source.class: UR\Entity\Core\DataSource
    # form class
    ur.form.type.core.data_source.class: UR\Form\Type\DataSourceFormType
    # listener class
    ur.listener.data_source.class: UR\Bundle\ApiBundle\EventListener\DataSourceCreatedListener

services:
    ur_api.handler.data_source:
        class: UR\Handler\HandlerInterface
        factory_service: ur.handler.handler_manager.data_source
        factory_method: getHandler
        arguments:
            - '@ur.user_role'

    ur.repository.data_source:
        class: UR\Repository\Core\DataSourceRepositoryInterface
        factory_service: doctrine.orm.entity_manager
        factory_method: getRepository
        arguments:
            - '%ur.entity.core.data_source.class%'

    ur.domain_manager.data_source:
        class: UR\DomainManager\DataSourceManager
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@ur.repository.data_source'

    ur.form.type.data_source:
        class: '%ur.form.type.core.data_source.class%'
        tags:
            - { name: form.type, alias: ur_form_data_source }

    ur.handler.handlers.data_source.abstract:
        class: UR\Handler\Handlers\Core\DataSourceHandlerAbstract
        parent: ur.handler.role_handler_abstract
        abstract: true
        public: false
        arguments:
            - '@ur.form.type.data_source'
            - '@ur.domain_manager.data_source'

    ur.handler.handlers.data_source.admin:
        class: UR\Handler\Handlers\Core\Admin\DataSourceHandler
        parent: ur.handler.handlers.data_source.abstract
        public: false
        arguments:
            - '@ur_user.domain_manager.publisher'
            - '@ur.repository.integration_publisher'

    ur.handler.handlers.data_source.publisher:
        class: UR\Handler\Handlers\Core\Publisher\DataSourceHandler
        parent: ur.handler.handlers.data_source.abstract
        public: false

    ur.handler.handler_manager.data_source:
        class: UR\Handler\HandlerManager
        arguments:
            - '%ur.entity.core.data_source.class%'
            -
                - '@ur.handler.handlers.data_source.admin'
                - '@ur.handler.handlers.data_source.publisher'
    ur.bundle.event.data_source_listener:
        class: '%ur.listener.data_source.class%'
        arguments:
            - '%ur_email_template%'
        tags:
            -
                name: doctrine.event_listener
                event: prePersist