parameters:
    # entity class
    ur.entity.core.integration_tag.class: UR\Entity\Core\IntegrationTag
    # form class
    ur.form.type.core.integration_tag.class: UR\Form\Type\IntegrationTagFormType

services:
    ur_api.handler.integration_tag:
        class: UR\Handler\HandlerInterface
        factory:
            - '@ur.handler.handler_manager.integration_tag'
            - 'getHandler'
        arguments:
            - '@ur.user_role'

    ur.repository.integration_tag:
        class: UR\Repository\Core\IntegrationTagRepositoryInterface
        factory:
            - '@doctrine.orm.entity_manager'
            - 'getRepository'
        arguments:
            - '%ur.entity.core.integration_tag.class%'

    ur.domain_manager.integration_tag:
        class: UR\DomainManager\IntegrationTagManager
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@ur.repository.integration_tag'

    ur.form.type.integration_tag:
        class: '%ur.form.type.core.integration_tag.class%'
        integration_tags:
            - { name: form.type, alias: ur_form_integration_tag }

    ur.handler.handlers.integration_tag.abstract:
        class: UR\Handler\Handlers\Core\IntegrationTagHandlerAbstract
        parent: ur.handler.role_handler_abstract
        abstract: true
        public: false
        arguments:
            - '%ur.form.type.core.integration_tag.class%'
            - '@ur.domain_manager.integration_tag'

    ur.handler.handlers.integration_tag.admin:
        class: UR\Handler\Handlers\Core\Admin\IntegrationTagHandler
        parent: ur.handler.handlers.integration_tag.abstract
        public: false
        arguments:
            - '@ur_user.domain_manager.publisher'

    ur.handler.handlers.integration_tag.publisher:
        class: UR\Handler\Handlers\Core\Publisher\IntegrationTagHandler
        parent: ur.handler.handlers.integration_tag.abstract
        public: false

    ur.handler.handler_manager.integration_tag:
        class: UR\Handler\HandlerManager
        arguments:
            - '%ur.entity.core.integration_tag.class%'
            -
                - '@ur.handler.handlers.integration_tag.admin'
                - '@ur.handler.handlers.integration_tag.publisher'