services:
    ur.services.report.params_builder:
        class: UR\Service\Report\ParamsBuilder

    ur.services.report.report_grouper:
        class: UR\Service\Report\ReportGrouper
        arguments:
            - @ur.domain_manager.data_set
            - @ur.service.date_util
            - @ur.services.report.sql_builder

    ur.services.report.report_builder:
        class: UR\Service\Report\ReportBuilder
        arguments:
            - '@ur.services.report.report_selector'
            - '@ur.services.report.report_grouper'
            - '@ur.domain_manager.report_view'
            - '@ur.services.report.params_builder'
            - '@ur.domain_manager.data_set'
            - '@ur.services.report.report_filter'
            - '@ur.services.report.report_formatter'
            - '@ur.services.report.report_sorter'
            - @monolog.logger

    ur.services.report.sql_builder:
        class: UR\Service\Report\SqlBuilder
        arguments:
            - '@doctrine.orm.entity_manager'

    ur.services.report.report_selector:
        class: UR\Service\Report\ReportSelector
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@ur.services.report.sql_builder'

    ur.service.report.clone_report_view:
        class: UR\Service\Report\CloneReportView
        arguments:
            - '@ur.domain_manager.report_view'

    ur.service.report.shareable_link_updater:
        class: UR\Service\Report\ShareableLinkUpdater

    ur.services.report.report_filter:
        class: UR\Service\Report\ReportViewFilter

    ur.services.report.report_formatter:
        class: UR\Service\Report\ReportViewFormatter

    ur.services.report.report_sorter:
        class: UR\Service\Report\ReportViewSorter
